@model ApiCrudToDo.Models.TodoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TodoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.todo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.todo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.completed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.completed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
